/* THIS FILE CONTAINS STYLING THAT IS UNIQUE TO add_new.html:
please use it for stuff like dropdown, buttons etc that is unique to this page */

#add-new {
  width: 720px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
  border-radius: 5px;
}

#question-dropdown {
  display: block;
  width: 200px;
  margin: 10px auto;
}

#add-new-question > textarea {
  margin: 20px;
}

#add-new-question > button {
  margin: 10px auto;
}

#all-cards-wrapper {
  width: 760px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
}

.card-container {
  width: 280px;
  min-height: 160px;
  margin: 20px;
  padding: 10px;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #296A9B;
}

#question:focus {
  ;
} 

#answer:focus {

}

button {
  background-color: #FFFFDA;
  border-radius: 5px;
  padding: 6px 20px;
  margin: 0 20px;
}