body {
  user-select: none; /* prevent text selection */
}
#card-wrapper {
  width: 480px;
  height: 320px;
  margin: 0 auto;
  background-image: url("../img/indexcardlined.png");
  cursor: pointer;
}

#question-or-answer {
  color: black;
  width: 300px;
  margin: 0 auto;
  padding-top: 108px;
  line-height: 27px;
}

#response-wrapper {
  margin: 15px auto;
}

#rate-p {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.known-level {
  width: 100px;
  padding: 20px;
}

#known-level-wrapper > img {
  cursor: pointer;
}