/* THIS FILE CONTAINS STYLING THAT IS APPLIED TO ALL PAGES:
please use it for stuff like headers, footers, nav etc that is not unique to one page */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole|Gloria+Hallelujah&display=swap');

html {
  font-family: "Avenir Next", "Avenir", sans-serif;
  background: #e4f1fa;
}

/* HEADER - START */
header {
  height: 0px;
}

/* NAV - HAMBURGER MENU - START */
#menuToggle {
  display: block;
  width: 100px;
  position: relative;
  top: 30px;
  left: 40px;
  z-index: 1;
  user-select: none; /* prevent text selection */
}
#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #838383;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
 /* But hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* The last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 200px;
  min-height: 1100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-left: 30px;
  padding-top: 125px;
  background: #e4f1fa;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
}
#menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menu a:hover {
  color: rgb(5, 2, 177);
}
/* To make it slide in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}
/* NAV - HAMBURGER MENU - END */
/* HEADER - END */

/* MAIN - START*/
main {
  width: 960px;
  min-height: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  background-image: url("../img/cork_board.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  margin-bottom: 50px;
  font-family: 'Frijole', cursive;
  font-size: 50px;
  color: #ffffd9;
}
/* MAIN - END*/

/* FOOTER - START*/
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #ededed;
  text-align: center;
}
/* FOOTER - END*/

/* STYLING CLASSES */
/* post-it note style */
.post-it {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  line-height: 30px;
  border: 1px solid #E8E8E8; 
  border-bottom-right-radius: 60px 5px; 
  background: -webkit-linear-gradient(-45deg, #f8f893 81%,#f5f591 82%,#f5f58d 82%,#f7f7c2 100%);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
}